.project__container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}
.project__item{
    background: var(--body1-color);
    /* background: rgb(239, 211, 211); */
    padding: 1.3rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}
.project__item:hover{
    /* border: 2px solid rgb(239, 211, 211); */
    background: var(--body2-color);
    cursor: pointer;
}

.project__item-image{
    border-radius: 1rem;
    overflow: hidden;
}

.project__item h3{
    margin: 1rem 0;
}
.project-cta{
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
}


@media screen and (max-width: 1024px){
    .project__container{
        grid-template-columns: 1fr 1fr;
        gap: 1.2rem;
    }
}


@media screen and (max-width: 600px){
    .project__container{
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}